html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar-resto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-right: 70px;
  margin: 10px;
  padding-top: 10px;
}
.navbar-resto .title-nav {
  font-family: "shrikhand";
  margin: 0;
}

img {
  max-width: 100%;
  z-index: 1;
  display: block;
}

.title-heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-content, h2 {
  padding-left: 20px;
  padding-right: 20px;
}

.menu-content {
  background-color: #F6F6F6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -40px;
  z-index: 200;
  position: relative;
  display: flex;
  flex-direction: column;
}
.menu-content h3 {
  padding-bottom: 5px;
  border-bottom: solid 3px #99E2D0;
  width: 15%;
}

h2 {
  padding: 0;
}

.menu-choix {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 40px;
}
.menu-choix h4 {
  margin: 0;
}
.menu-choix p {
  margin: 0;
}

.menu-cards {
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}
.menu-cards p {
  align-items: center;
}
.menu-cards .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
}

.btn-order {
  color: white;
  display: flex;
  justify-content: center;
  background: linear-gradient(#9356dc, #ff79DA);
  border-radius: 35px;
  margin: 40px 70px;
  padding: 5px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "shrikhand";
}

.text {
  font-family: "Roboto";
}

.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.localisation {
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon {
  padding-right: 15px;
}

.resa {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-resa {
  padding-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.text-resa {
  color: #353535;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.btn {
  color: white;
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 15px;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.title-fonction {
  padding-left: 20px;
}

.number {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  margin-left: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-family: "roboto";
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}

.fonction {
  display: flex;
  flex-direction: column;
}

.choisissez {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.composez {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.degustez {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-fonction {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  padding-left: 10px;
  margin: 15px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.backgris {
  background-color: #F6F6F6;
}

.resto-titre {
  padding-left: 15px;
}

.card {
  background-color: white;
  border-radius: 15px;
  margin: 15px;
  margin-bottom: 30px;
  flex: 1;
  padding-bottom: 5px;
  position: relative;
}

.new {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 0;
  padding: 5px;
  margin: 10px;
  margin-left: 200px;
  border-radius: 5px;
}

.align-heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart {
  padding: 10px;
  margin-top: 20px;
  height: 21px;
}

.card-txt {
  padding-left: 10px;
}
.card-txt p {
  margin-top: 0px;
}
.card-txt h3 {
  margin-bottom: 2px;
}

.img-card {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.backnoir {
  background-color: #353535;
  color: white;
  padding: 20px;
  margin: 0px;
}

.title-footer {
  font-size: 27px;
  font-family: "shrikhand";
}

.logo-foot {
  color: white;
}

.lien-icon {
  display: flex;
  align-items: center;
}

.lien-foot {
  padding-left: 10px;
}
.lien-foot p {
  padding-bottom: 10px;
}

.fa-solid {
  padding: 10px;
}

footer {
  margin: 0;
}
footer p {
  margin: 0;
}

.loader {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: #FF79DA;
}/*# sourceMappingURL=styles.css.map */